@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --font-sans: Inter, 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Arial, system-ui, sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}

/* Checkerboard pattern – used for alpha channel visualization */
@utility checkerboard {
    --checker-size: 10px;
    background-color: #fff;
    background-image: conic-gradient(
        from 45deg,
        #e0e0e0 25%,
        transparent 0 50%,
        #e0e0e0 0 75%,
        transparent 0
    );
    background-size: var(--checker-size) var(--checker-size);
}

.modal-container {
    @apply max-w-[min(calc(var(--ui-container)-calc(var(--spacing)*8)),calc(100%-calc(var(--spacing)*8)))];
    @apply sm:max-w-[min(calc(var(--ui-container)-calc(var(--spacing)*12)),calc(100%-calc(var(--spacing)*12)))];
    @apply lg:max-w-[min(calc(var(--ui-container)-calc(var(--spacing)*16)),calc(100%-calc(var(--spacing)*16)))];
}
